body {
  margin: 50px;
  background: rgb(250, 250, 250);
}

.listing {
  border-color: #b0adad;
  border-style: solid;
  border-radius: 5px;
  padding: 2px 5px;
  margin-bottom: 5px;
  width: 30%;
}

.listing:hover {
  border-color: rgb(179, 18, 18);

  transform: rotate(5deg);
}

.listingsGroup {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
